{% extends 'base.html.twig' %}

{% block title %}Créer un site !{% endblock %}

{% block body %}
<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 sm:py-12 lg:px-8">
    <div class="mx-auto max-w-2xl">
        {% for message in app.flashes('error') %}
            <p class="mt-1 text-sm leading-6 text-red-700">{{ message }}</p>
        {% endfor %}
        <div class="space-y-12">
            <div class=" border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">
                    création d'un site
                </h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">
                    Espace pour la création d'un site.
                </p>
                <div>
                    {{ form_start(siteForm) }}
                    <div class="border-b pb-6">
                        <div class="mt-6 border-gray-100">
                            {{ form_label(siteForm.nom, null, {
                                'label_attr' : { 'class': 'after:content-["*"] after:ml-0.5
                                 after:text-red-500 block text-gray-800'}
                            }) }}
                            {{ form_errors(siteForm.nom) }}
                            {{ form_widget(siteForm.nom) }}
                            {{ form_help(siteForm.nom) }}
                            {% for message in app.flashes('error') %}
                                <p class="mt-1 text-sm leading-6 text-red-700">{{ message }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div>
                        <div class="mt-6 flex items-center justify-end gap-x-3">
                            <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                Créer un site
                            </button>
                            <a type="button" class="text-sm font-semibold leading-6 text-gray-900" href="{{ path('site_home') }}">Annuler</a>
                        </div>
                    </div>
                    {{ form_end(siteForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
