{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<div class="flex min-h-full flex-col justify-center px-6 py-6 lg:px-8">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }},
            <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-20 w-auto"
             src="{{ asset('build/img/logo.jpg') }}"
             alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
            Connectez-vous à votre compte
        </h2>
    </div>
    <div class="mt-10 md:mx-auto md:w-full md:max-w-sm">
        <form class="space-y-6" method="POST">
            {% if error %}
                <div>
                    <label  for="inputEmailOrUsername"
                            class="block text-sm font-medium leading-6 text-gray-900">
                        Adresse email ou pseudo
                    </label>
                    <div class="mt-2">
                        <input  id="inputEmailOrUsername"
                                name="email_or_username"
                                type="text"
                                value="{{ last_username }}"
                                autofocus
                                required
                                class="block w-full
                            rounded-md border-0 py-1.5
                            text-red-900 shadow-sm ring-1
                            ring-inset ring-red-300
                            placeholder:text-red-400
                            focus:ring-2 focus:ring-inset
                            focus:ring-red-600 sm:text-sm
                            sm:leading-6">
                    </div>
                </div>
            {% else %}
                <div>
                    <label  for="inputEmailOrUsername"
                            class="block text-sm font-medium leading-6 text-gray-900">
                        Adresse email ou pseudo
                    </label>
                    <div class="mt-2">
                        <input  id="inputEmailOrUsername"
                                name="email_or_username"
                                type="text"
                                value="{{ last_username }}"
                                autofocus
                                required
                                class="block w-full
                            rounded-md border-0 py-1.5
                            text-gray-900 shadow-sm ring-1
                            ring-inset ring-gray-300
                            placeholder:text-gray-400
                            focus:ring-2 focus:ring-inset
                            focus:ring-indigo-600 sm:text-sm
                            sm:leading-6">
                    </div>
                </div>
            {% endif %}

            <div>
                <div class="flex items-center justify-between">
                    <label  for="inputPassword"
                            class="block text-sm font-medium leading-6 text-gray-900">
                        Mot de passse
                    </label>
                    <div class="text-sm">
                        <a href="#"
                           class="font-semibold text-indigo-600 hover:text-indigo-500">
                            mot de passe oublié ?
                        </a>
                    </div>
                </div>
                <div class="mt-2">
                    <input id="inputPassword"
                           name="password"
                           type="password"
                           autocomplete="current-password"
                           required
                           class="block w-full rounded-md border-0
                           py-1.5 text-gray-900 shadow-sm ring-1
                           ring-inset ring-gray-300 placeholder:text-gray-400
                           focus:ring-2 focus:ring-inset focus:ring-indigo-600
                           sm:text-sm sm:leading-6">
                </div>
            </div>
            <div class="mt-2">
                <div class="relative flex gap-x-3">
                    <div class="flex h-6 items-center">
                        <input name="remember_me"
                               type="checkbox"
                               class="h-4 w-4 rounded border-gray-300
                               text-indigo-600 focus:ring-indigo-600"
                               {{ isRemember == true ? "Checked" }}>
                    </div>
                    <div class="text-sm leading-6">
                        <label for="comments"
                               class="font-medium text-gray-900">
                            Se souvenir de moi
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
                <button type="submit"
                        class="flex w-full justify-center
                        rounded-md bg-indigo-600 px-3 py-1.5
                        text-sm font-semibold leading-6 text-white
                        shadow-sm hover:bg-indigo-500 focus-visible:outline
                        focus-visible:outline-2 focus-visible:outline-offset-2
                        focus-visible:outline-indigo-600">
                    Se connecter
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
