{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 sm:py-12 lg:px-8">
        <div class="mx-auto max-w-4xl">

            {% for message in app.flashes('success') %}
                <p class="mt-1 text-sm leading-6 text-green-700">{{ message }}</p>
            {% endfor %}

            <div class="space-y-6">
                <div class="border-solid border-2 rounded-md border-gray-200 shadow-lg">
                    <form method="get" action="{{ path('app_home') }}">
                        <div class=" m-3 grid sm:grid-cols-3 gap-3">
                            <div>
                                <label for="nom" class="block text-sm font-medium leading-6 text-gray-900">
                                    Rechercher par nom
                                </label>
                                <div class="mt-2">
                                    <input type="text"
                                           id="nom"
                                           name="nom"
                                           value="{{ app.request.get('nom') }}"
                                           class="w-full rounded-md border-0 py-1.5 text-gray-900
                                       shadow-sm ring-1 ring-inset ring-gray-300
                                       placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                                       focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                            <div>
                                <label for="site" class="block text-sm font-medium leading-6 text-gray-900">
                                    Choisir un site
                                </label>
                                <div class="mt-2">
                                    {% set selectedSite = app.request.get('site') ?: '' %}
                                    <select id="site"
                                            name="site"
                                            class="w-full rounded-md border-0 py-1.5 text-gray-900
                                            shadow-sm ring-1 ring-inset ring-gray-300
                                            placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                                            focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        <option value="" {% if selectedSite == "" %}selected{% endif %}>Tous les sites</option>
                                        {% for site in sites %}
                                            <option value="{{ site.id }}" {% if selectedSite == site.id %}selected{% endif %}>
                                                {{ site.nom }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="flex items-end justify-end">
                                <div class="grid grid-cols-1">
                                    <div class="flex items-center justify-end">
                                        <label for="unregistered"
                                               class="text-sm font-medium leading-6 text-gray-900">
                                            Sorties auxquelles je ne suis pas inscrit
                                        </label>
                                        <input type="checkbox"
                                               id="unregistered"
                                               name="unregistered"
                                               class="rounded-md border-0 py-1.5
                                       shadow-sm ring-1 ring-inset ring-gray-300
                                       focus:ring-2 focus:ring-inset
                                       focus:ring-indigo-600 sm:leading-6"
                                               {% if unregistered %}checked{% endif %}>
                                    </div>
                                    <div class="flex items-center justify-end">
                                        <label for="registered"
                                               class="text-sm font-medium leading-6 text-gray-900">
                                            Sorties auxquelles je suis inscrit
                                        </label>
                                        <input type="checkbox"
                                               id="registered"
                                               name="registered"
                                               class="rounded-md border-0 py-1.5
                                       shadow-sm ring-1 ring-inset ring-gray-300
                                       focus:ring-2 focus:ring-inset
                                       focus:ring-indigo-600 sm:leading-6"
                                               {% if registered %}checked{% endif %}>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="dateDebut"
                                       class="block text-sm font-medium leading-6 text-gray-900">
                                    Date de début
                                </label>
                                <input type="date"
                                       id="dateDebut"
                                       name="dateDebut"
                                       value="{{ dateDebut }}"
                                       class="w-full rounded-md border-0 py-1.5 text-gray-900
                                       shadow-sm ring-1 ring-inset ring-gray-300
                                       placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                                       focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <div>
                                <label for="dateFin"
                                       class="block text-sm font-medium leading-6 text-gray-900">
                                    Date de fin
                                </label>
                                <input type="date"
                                       id="dateFin"
                                       name="dateFin"
                                       value="{{ dateFin }}"
                                       class="w-full rounded-md border-0 py-1.5 text-gray-900
                                       shadow-sm ring-1 ring-inset ring-gray-300
                                       placeholder:text-gray-400 focus:ring-2 focus:ring-inset
                                       focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <div class="flex items-end justify-end">
                                <div class="flex items-end justify-end">
                                    <div class="grid grid-cols-1">
                                        <div class="flex items-center justify-end">
                                            <label for="voirSortiesPassees"
                                                   class="text-sm font-medium leading-6 text-gray-900">
                                                Sorties passées
                                            </label>
                                            <input type="checkbox"
                                                   id="voirSortiesPassees"
                                                   name="voirSortiesPassees"
                                                   class="rounded-md border-0 py-1.5
                                               shadow-sm ring-1 ring-inset ring-gray-300
                                               focus:ring-2 focus:ring-inset
                                               focus:ring-indigo-600 sm:leading-6"
                                                   {% if app.request.get('voirSortiesPassees') %}checked{% endif %}>
                                        </div>
                                        <div class="flex items-center justify-end">
                                            <label for="organisateur" class="text-sm font-medium leading-6 text-gray-900">
                                                Sorties de l'organisation
                                            </label>
                                            <input type="checkbox"
                                                   id="organisateur"
                                                   name="organisateur"
                                                   class="rounded-md border-0 py-1.5
                                                     shadow-sm ring-1 ring-inset ring-gray-300
                                                     focus:ring-2 focus:ring-inset
                                                     focus:ring-indigo-600 sm:leading-6"
                                                   {% if organisateurOnly %}checked{% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sm:col-span-3 flex items-center justify-center">
                                <button type="submit"
                                        class="rounded-md bg-indigo-600 px-3 py-2 sm:w-1/3 w-full
                                    text-sm font-semibold text-white shadow-sm hover:bg-indigo-500
                                    focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
                                    focus-visible:outline-indigo-600">
                                    Filtrer
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto max-w-full px-4 pb-6 sm:px-6 sm:pb-12 lg:px-8">
        <div class="mx-auto max-w-full">
            <div class="space-y-6">
                {% if not sorties %}
                <p class="flex items-center justify-center text-red-700 font-bold">Aucune sortie ici !!!</p>
                {% else %}
                <div class="flex pagination items-center justify-center">
                    {{ knp_pagination_render(pagination, 'layout/tailwindcss_pagination.html.twig') }}
                </div>
                <div class="relative overflow-x-auto shadow-md border-solid border-2 rounded-md border-gray-200">
                    <table class="w-full">
                        <thead class="text-md text-gray-700 uppercase bg-amber-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">Nom</th>
                            <th scope="col" class="px-6 py-3">Date de début</th>
                            <th scope="col" class="px-6 py-3">Date de fin</th>
                            <th scope="col" class="px-6 py-3">Date de clôture</th>
                            <th scope="col" class="px-6 py-3">Places</th>
                            <th scope="col" class="px-6 py-3">Etat</th>
                            <th scope="col" class="px-6 py-3">Inscrit/e</th>
                            <th scope="col" class="px-6 py-3">Organisateur</th>
                            <th scope="col" class="px-6 py-3">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="text-sm text-gray-900">

                        {% for sortie in pagination %}
                            <tr>
                                <td class="px-6 py-4 text-center">
                                    <a href="{{ path('sortie_detail', {'id' : sortie.id}) }}">{{ sortie.nom }}</a>
                                </td>
                                <td class="px-6 py-4">
                                    {{ sortie.dateHeureDebut |date("d/m/Y H:i") }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ sortie.dateHeureFin |date("d/m/Y H:i") }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ sortie.dateLimiteInscription |date("d/m/Y") }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ sortie.participant |length }} / {{ sortie.nombreMaxParticipant }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ sortie.etat }}
                                </td>
                                <td class="flex px-6 py-4 justify-center">
                                    {% if app.user in sortie.participant %}
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             class="w-6 h-6 text-green-600">
                                            <path stroke-linecap="round"
                                                  stroke-linejoin="round"
                                                  d="M4.5 12.75l6 6 9-13.5"/>
                                        </svg>

                                    {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             class="w-6 h-6 text-red-600">
                                            <path stroke-linecap="round"
                                                  stroke-linejoin="round"
                                                  d="M6 18L18 6M6 6l12 12"/>
                                        </svg>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4">
                                    {{ sortie.organisateur.nom }}  {{ sortie.organisateur.prenom }}
                                </td>
                                <td class="px-6 py-4">
                                    {% if sortie.getDateLimiteInscription >= dateActuelle and sortie.etat != 'Annulée' %}
                                    {% if (app.user == sortie.organisateur) and sortie.etat == 'Ouvert' or sortie.etat == 'En création'%}
                                        <a href="{{ path('sortie_edit', {'id' : sortie.id}) }}"
                                           class="text-sm font-semibold text-amber-600 underline underline-offset-2
                                           outline-amber-600 hover:outline-amber-500 hover:text-amber-500">
                                            Modifier
                                        </a>
                                    {% endif %}

                                        {% if (app.user == sortie.organisateur or 'ROLE_ADMIN' in app.user.roles) and sortie.etat == 'Ouvert'
                                            or sortie.etat == 'Clôturée'%}
                                            <a href="{{ path('sortie_cancel', {'id' : sortie.id}) }}"
                                               class="text-sm font-semibold text-amber-600 underline underline-offset-2
                                           outline-amber-600 hover:outline-amber-500 hover:text-amber-500">
                                                Annuler
                                            </a>
                                        {% endif %}
                                        <br>

                                        {% if app.user in sortie.participant and 'ROLE_ADMIN' not in app.user.roles
                                                and app.user != sortie.organisateur and sortie.etat == 'Ouvert'
                                                or sortie.etat == 'Clôturée' %}
                                                <a href="{{ path('sortie_unregister', {'id' : sortie.id}) }}"
                                                   class="text-sm font-semibold text-red-600 underline underline-offset-2
                                           outline-red-600 hover:outline-red-500 hover:text-red-500">
                                                    Se désister
                                                </a>
                                           {% endif %}
                                           {% if app.user not in sortie.participant and 'ROLE_ADMIN' not in app.user.roles
                                               and app.user != sortie.organisateur and sortie.etat == 'Ouvert'
                                               or sortie.etat == 'Clôturée'  %}
                                               <a href="{{ path('sortie_register', {'id' : sortie.id}) }}"
                                                   class="text-sm font-semibold text-indigo-600 underline underline-offset-2
                                                        outline-indigo-600 hover:outline-indigo-500 hover:text-indigo-500">
                                                   S'inscrire
                                               </a>
                                           {% endif %}
                                        {% endif %}
                                    {% if sortie.etat =='En création' and 'ROLE_ADMIN' not in app.user.roles %}
                                        <a href="{{ path('sortie_publish', {'id' : sortie.id}) }}"
                                           class="text-sm font-semibold text-blue-600 underline underline-offset-2
                                           outline-blue-600 hover:outline-blue-600 hover:text-indigo-500">
                                            Publier
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            localStorage.removeItem('formDataSortie');
        });
    </script>
{% endblock %}
