{% extends 'base.html.twig' %}

{% block title %}Create Sortie{% endblock %}

{% block body %}
    <h1>Créer sortie</h1>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_label(form.nom) }}
    {{ form_errors(form.nom) }}
    {{ form_widget(form.nom) }}
    {{ form_help(form.nom) }}

    <br/>
    {{ form_label(form.dateHeureDebut) }}
    {{ form_errors(form.dateHeureDebut) }}
    {{ form_widget(form.dateHeureDebut) }}
    {{ form_help(form.dateHeureDebut) }}

    <br/>
    {{ form_label(form.dateHeureFin) }}
    {{ form_errors(form.dateHeureFin) }}
    {{ form_widget(form.dateHeureFin) }}
    {{ form_help(form.dateHeureFin) }}

    <br/>
    {{ form_label(form.dateLimiteInscription) }}
    {{ form_errors(form.dateLimiteInscription) }}
    {{ form_widget(form.dateLimiteInscription) }}
    {{ form_help(form.dateLimiteInscription) }}

    <br/>
    {{ form_label(form.nombreMaxParticipant) }}
    {{ form_errors(form.nombreMaxParticipant) }}
    {{ form_widget(form.nombreMaxParticipant) }}
    {{ form_help(form.nombreMaxParticipant) }}

    <br/>
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_help(form.description) }}

    <br/>
    {{ form_label(form.ville) }}
    {{ form_errors(form.ville) }}
    {{ form_widget(form.ville) }}
    {{ form_help(form.ville) }}

    <br/>
    {{ form_label(form.lieu) }}
    {{ form_errors(form.lieu) }}
    {{ form_widget(form.lieu) }}
    {{ form_help(form.lieu) }}

    {{ form_row(form.enregistrer) }}
    {{ form_row(form.publier) }}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        // Attendez que le document soit prêt
        $(document).ready(function() {
            // Écoutez les changements de la ville
            $('#{{ form.ville.vars.id }}').change(function() {
                // Récupérez la valeur de la ville sélectionnée
                var selectedVille = $(this).val();

                // Faites une requête AJAX pour récupérer les lieux associés à la ville
                $.ajax({
                    url: "{{ path('lieu_getByVille') }}",
                    type: 'POST',
                    data: { ville: selectedVille },
                    success: function(response) {
                        //rendre le champ non disabled
                        $('#{{ form.lieu.vars.id }}').empty(); // Effacez les options existantes
                        if (response.length === 0){
                            $('#{{ form.lieu.vars.id }}').append('<option> Cette ville n\'a pas de lieu</option>');
                        }else{
                            // Mettez à jour les options du champ "lieu" avec les données de la réponse JSON
                            $.each(response, function(index, lieu) {
                                $('#{{ form.lieu.vars.id }}').append('<option value="' + lieu.id + '">' + lieu.nom +' - '+ lieu.rue + '</option>');
                            });
                        }

                    }
                });
            });
        });
    </script>
{% endblock %}
