<!DOCTYPE html>
<html class="h-full">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur sortir.com!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/logo.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <!-- Inclure le fichier CSS de jQuery UI Autocomplete -->
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="h-full">
        {% if is_granted('IS_AUTHENTICATED') %}
            <nav class="bg-indigo-100">
                <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                    <div class="relative flex h-16 items-center justify-between">
                        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                            <button type="button"
                                    class="relative inline-flex items-center justify-center
                                    rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none
                                    focus:ring-2 focus:ring-inset focus:ring-white"
                                    aria-controls="mobile-menu"
                                    aria-expanded="false">
                                <span class="absolute -inset-0.5"></span>
                                <span class="sr-only">Ouvrir le menu principal</span>
                                <svg class="block h-6 w-6"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     aria-hidden="true">
                                    <path stroke-linecap="round"
                                          stroke-linejoin="round"
                                          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                </svg>
                                <svg class="hidden h-6 w-6"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     aria-hidden="true">
                                    <path stroke-linecap="round"
                                          stroke-linejoin="round"
                                          d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                        <div class="flex flex-1 items-center
                             justify-center sm:items-stretch
                             sm:justify-start">
                            <div class="flex flex-shrink-0 items-center">
                                <img class="mx-auto h-8 w-auto"
                                     src="{{ asset('build/images/logo.jpg') }}"
                                     alt="Sortir.com">
                            </div>
                            <div class="hidden sm:ml-6 sm:block">
                                <div class="flex space-x-4">
                                    <a href="{{ path('app_home') }}"
                                       class="text-gray-800 hover:bg-gray-700
                                       hover:text-white rounded-md px-3 py-2
                                       text-sm font-medium"
                                       aria-current="page">
                                        Accueil
                                    </a>
                                    {% if 'ROLE_ADMIN' in app.user.roles %}
                                    <a href="{{ path('user_home') }}"
                                       class="text-gray-800 hover:bg-gray-700
                                       hover:text-white rounded-md px-3 py-2
                                       text-sm font-medium">
                                        Participants
                                    </a>
                                    <a href="{{ path('gerer_villes') }}"
                                       class="text-gray-800 hover:bg-gray-700
                                   hover:text-white rounded-md px-3 py-2
                                   text-sm font-medium">
                                        Villes
                                    </a>
                                    {% else %}
                                    <a href="{{ path('sortie_create') }}"
                                       class="rounded-md bg-amber-600 px-3 py-2
                                    text-sm font-semibold text-white shadow-sm hover:bg-amber-500
                                    focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
                                    focus-visible:outline-amber-600">
                                        + Créer une sortie
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="absolute inset-y-0 right-0 flex
                             items-center pr-2 sm:static sm:inset-auto
                             sm:ml-6 sm:pr-0">
                            <div class="relative mx-3">
                                <a href="/user/edit/{{ app.user.id }}" type="button"
                                        class="relative flex rounded-full bg-gray-800
                                        text-sm hover:outline-none focus:ring-2
                                        hover:ring-white hover:ring-offset-2
                                        hover:ring-offset-gray-800">
                                    <img class="h-8 w-8 rounded-full bg-gray-800
                                        justify-items-center
                                        text-sm"
                                         src="{{ asset('build/images/imageProfilDefaut.jpg') }}"
                                         alt="Photo de l'utilisateur">
                                </a>
                            </div>
                            <div>
                                <a href="{{ path('app_logout') }}"
                                   class="text-gray-800 hover:text-gray-700
                                   rounded-md text-base font-medium"
                                   role="menuitem"
                                   tabindex="-1"
                                   id="user-menu-item-2">
                                    Se déconnecter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu state. -->
                <div class="sm:hidden" id="mobile-menu">
                    <div class="space-y-1 px-2 pb-3 pt-2">
                        <a href="{{ path('app_home') }}"
                           class="text-gray-800 hover:bg-gray-700
                           hover:text-white block rounded-md px-3
                           py-2 text-base font-medium">
                            Accueil
                        </a>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('user_home') }}"
                               class="text-gray-800 hover:bg-gray-700
                                       hover:text-white rounded-md px-3 py-2
                                       text-sm font-medium">
                                Participants
                            </a>
                            <a href="#"
                               class="text-gray-800 hover:bg-gray-700
                               hover:text-white block rounded-md px-3
                               py-2 text-base font-medium">
                                Villes
                            </a>
                            <a href="#"
                               class="text-gray-800 hover:bg-gray-700
                               hover:text-white block rounded-md px-3
                               py-2 text-base font-medium">
                                Sites
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        {% endif %}
        {% block body %}{% endblock %}
        {% if is_granted('IS_AUTHENTICATED') %}
            <footer class="flex bg-indigo-100 bottom-0 h-fit w-full">
                <div class="mx-auto max-w-full px-2 sm:px-6 lg:px-8 place-content-center">
                    <div class="grid md:grid-cols-9 gap-x-3 justify-items-center text-sm">
                        <div class="md:col-span-3">
                            <p>&copy; {{ "now"|date("Y")}} <strong>Sortir.com</strong> by <a href="https://www.eni-ecole.fr"
                                                                                        rel="noopener noreferrer"
                                                                                        target="_blank">
                                                                                            ENI Ecole Informatique
                                                                                     </a>
                            </p>
                        </div>
                        <div class="md:col-span-2">
                            <a href="https://www.app.asso.fr/centre-information/base-de-connaissances/code-logiciels/les-contrats/contrat-de-licence-dutilisation-logiciel-libre"
                               rel="noopener noreferrer"
                               target="_blank">
                                Le code source est sous licence
                            </a>
                        </div>
                        <div class="md:col-span-2">
                            <a href="https://www.economie.gouv.fr/apie/propriete-intellectuelle-publications/contenus-sous-licences-libres"
                               rel="noopener noreferrer"
                               target="_blank">
                                Le contenu du site Web est sous licence
                            </a>
                        </div>
                        <div>
                            <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees"
                               rel="noopener noreferrer"
                               target="_blank">
                                RGPD
                            </a>
                        </div>
                        <div>
                            <a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/obligations/"
                               rel="noopener noreferrer"
                               target="_blank">
                                Accessibilité
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        {% endif %}
    </body>
</html>
