{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block body %}
    {{ form_start(passwordForm) }}
    {% for message in app.flashes('error') %}
        <p class="mt-1 text-sm leading-6 text-red-700">{{ message }}</p>
    {% endfor %}
    {{ form_errors(passwordForm) }}

    {{ form_label(passwordForm.password) }}
    {{ form_widget(passwordForm.password) }}
    {{ form_errors(passwordForm.password) }}
    {{ form_help(passwordForm.password) }}

    {{ form_widget(passwordForm.plainPassword) }}
    {{ form_errors(passwordForm.plainPassword) }}
    {{ form_help(passwordForm.plainPassword) }}
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Modifier</button>

    {{ form_end(passwordForm) }}

{% endblock %}