{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block body %}
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 sm:py-12 lg:px-8">
        <div class="mx-auto max-w-2xl">
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-6">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">
                        Changement de mot de passe
                    </h2>
                    <p class="mt-1 text-sm leading-6 text-gray-600">
                        Ce mot de passe est strictement confidentiel et ne doit pas être partagé. Veuillez remplir votre ancien mot de passe puis confimer deux fois votre nouveau mot de passe
                    </p>
                    <div class="mt-6 border-gray-100">
                        {{ form_start(passwordForm) }}
                        {% for message in app.flashes('error') %}
                            <p class="mt-1 text-sm leading-6 text-red-700">{{ message }}</p>
                        {% endfor %}
                        {{ form_errors(passwordForm) }}
                    </div>
                    <div class="mt-6 border-gray-100">
                        {{ form_label(passwordForm.password, null, {
                            'label_attr' : { 'class': 'after:content-["*"] after:ml-0.5
                             after:text-red-500 text-gray-800'}
                        }) }}
                        {{ form_widget(passwordForm.password) }}
                        {{ form_errors(passwordForm.password) }}
                        {{ form_help(passwordForm.password) }}
                    </div>
                    <div class="mt-6 border-gray-100">
                        {{ form_widget(passwordForm.plainPassword) }}
                        {{ form_errors(passwordForm.plainPassword) }}
                        {{ form_help(passwordForm.plainPassword) }}
                    </div>
                </div>
            </div>
            <div class="gap-y-8">
                <div class="flex mt-6 justify-end">
                    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2
                    text-sm font-semibold text-white shadow-sm hover:bg-indigo-500
                    focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
                    focus-visible:outline-indigo-600">
                        Modifier
                    </button>
                </div>
            </div>
            {{ form_end(passwordForm) }}
        </div>
    </div>
{% endblock %}