{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block body %}
<<<<<<< HEAD
    <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
        {% for message in app.flashes('success') %}
            <p class="mt-1 text-sm leading-6 text-green-700">{{ message }}</p>
        {% endfor %}
=======
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 sm:py-12 lg:px-8">
>>>>>>> 2baf2c4 (change)
        <div class="mx-auto max-w-2xl">
            {{ form_start(userForm) }}

            {{ form_errors(userForm) }}
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                    <div class="mt-6 border-gray-100">
                        {% for message in app.flashes('success') %}
                            <p class="my-1 text-sm leading-6 text-green-700">{{ message }}</p>
                        {% endfor %}
                        <h2 class="text-base font-semibold leading-7 text-gray-900">Profil</h2>
                        <p class="mt-1 text-sm leading-6 text-gray-600">Ces informations seront affichées publiquement, alors faites attention à ce que vous partagez.</p>
                        <div>
                            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                <div class="sm:col-span-4">
                                    {{ form_label(userForm.pseudo) }}
                                    <div class="mt-2">
                                        <div>
                                            {{ form_errors(userForm.pseudo) }}
                                            {{ form_widget(userForm.pseudo) }}
                                            {{ form_help(userForm.pseudo) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-full">
                                    <label for="photo" class="block text-sm font-medium leading-6 text-gray-900">Photo</label>
                                    <div class="mt-2 flex items-center gap-x-3">
                                        <img class="h-12 w-12 rounded-full text-gray-300" src="{{ asset('build/images/imageProfilDefaut.jpg') }}" alt="image de defaut pour le profil"></img>
                                        <button type="button" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Change</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-b border-gray-900/10 pb-12">
                    <div class="mt-6 border-gray-100">
                        <h2 class="text-base font-semibold leading-7 text-gray-900">Informations personnelles</h2>
                        <p class="mt-1 text-sm leading-6 text-gray-600">Informations vous concernant. Utilisez une adresse permanente où vous pouvez recevoir du courrier.</p>
                        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                            <div class="sm:col-span-3">
                                {{ form_label(userForm.prenom) }}
                                <div class="mt-2">
                                    {{ form_widget(userForm.prenom) }}
                                    {{ form_errors(userForm.prenom) }}
                                    {{ form_help(userForm.prenom) }}
                                </div>
                            </div>
                            <div class="sm:col-span-3">
                                {{ form_label(userForm.nom) }}
                                <div class="mt-2">
                                    {{ form_widget(userForm.nom)}}
                                    {{ form_errors(userForm.nom) }}
                                    {{ form_help(userForm.nom) }}
                                </div>
                            </div>
                            {% else %}
                            <div class="sm:col-span-3">
                                {{ form_label(userForm.prenom) }}
                                <div class="mt-2">
                                    {{ form_widget(userForm.prenom, {
                                        'attr':{'disabled':'disabled'}
                                    })  }}
                                    {{ form_errors(userForm.prenom) }}
                                    {{ form_help(userForm.prenom) }}
                                </div>
                            </div>
                            <div class="sm:col-span-3">
                                {{ form_label(userForm.nom) }}
                                <div class="mt-2">
                                    {{ form_widget(userForm.nom, {
                                        'attr':{'disabled':'disabled'}
                                    })  }}

                                    {{ form_errors(userForm.nom, {
                                        'attr':{'class':'text-red-700'}
                                    }) }}
                                    {{ form_help(userForm.nom) }}
                                </div>
                            </div>
                            {% endif %}
                            <div class="sm:col-span-4">
                                {{ form_label(userForm.email) }}
                                <div class="mt-2">
                                    {{ form_widget(userForm.email) }}
                                    {{ form_errors(userForm.email) }}
                                    {{ form_help(userForm.email) }}
                                </div>
                            </div>
                            <div class="sm:col-span-3">
                                {{ form_label(userForm.telephone) }}
                                <div class="mt-2">
                                    {{ form_widget(userForm.telephone) }}
                                    {{ form_errors(userForm.telephone) }}
                                    {{ form_help(userForm.telephone) }}
                                </div>
                            </div>
                            <div class="sm:col-span-3">
                                {{ form_label(userForm.site) }}
                                <div class="mt-2">
                                    {% if 'ROLE_ADMIN' in app.user.roles %}
                                    {{ form_widget(userForm.site)}}
                                    {{ form_errors(userForm.site) }}
                                    {{ form_help(userForm.site) }}
                                    {% else %}
                                    {{ form_widget(userForm.site, {
                                        'attr':{'disabled':'disabled'}
                                    }) }}
                                    {{ form_errors(userForm.site) }}
                                    {{ form_help(userForm.site) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-b border-gray-900/10 pb-12">
                    <div class="mt-6 border-gray-100">
                        <h2 class="text-base font-semibold leading-7 text-gray-900">Mot de passe</h2>
                        <p class="mt-1 text-sm leading-6 text-gray-600">Veuillez entrer le mot de passe actuel pour valider les modifications</p>
                        <div class="sm:col-span-3">
                            <div class="mt-2">
                                {{ form_widget(userForm.password) }}
                                {{ form_errors(userForm.password) }}
                                {{ form_help(userForm.password) }}
                            </div>
                            {% for message in app.flashes('error') %}
                                <p class="mt-1 text-sm leading-6 text-red-700">{{ message }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-2">
                    <div class="mt-6 flex items-center justify-start gap-x-3">
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            {{ form_row(userForm.isActif) }}
                        {% else%}
                            {{ form_row(userForm.isActif, {
                                'attr':{'disabled':'disabled'}
                            }) }}
                        {% endif %}
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <div class="mt-6 flex items-center justify-center gap-x-3">
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('user_resetPassword', {'id': userId }) }}"
                               type="button"
                               title="Réinitialiser le mot de passe"
                               class="inline-flex items-center rounded-md bg-amber-600
                                   px-3 py-2 text-sm font-semibold text-white shadow-sm
                                   hover:bg-gray-500 focus-visible:outline focus-visible:outline-2
                                   focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                               <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="w-5 h-5">
                                   <path stroke-linecap="round"
                                         stroke-linejoin="round"
                                         d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                               </svg>
                                Mot de passe
                            </a>
                        {% endif %}
                        {% if not 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('user_changePassword', {'id': userId }) }}"
                               type="button"
                               title="Changer le mot de passe"
                               class="inline-flex items-center rounded-md bg-amber-600
                                   px-3 py-2 text-sm font-semibold text-white shadow-sm
                                   hover:bg-gray-500 focus-visible:outline focus-visible:outline-2
                                   focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="w-5 h-5">
                                    <path stroke-linecap="round"
                                          stroke-linejoin="round"
                                          d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                                </svg>
                                Mot de passe
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <div class="mt-6 flex items-center justify-end gap-x-3">
                        {{ form_widget(userForm.Modifier) }}
                        {{ form_end(userForm) }}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('user_home') }}" type="button" class="text-sm font-semibold leading-6 text-gray-900">Annuler</a>
                        {% else%}
                            <a href="{{ path('app_home') }}" type="button" class="text-sm font-semibold leading-6 text-gray-900">Annuler</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}