{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <p>{{ message }}</p>
    {% endfor %}


    <br/>
<div class="relative overflow-x-auto container pl-5 pr-5 pt-5">
    <div class="sm:col-span-3 flex items-center justify-start ml-2">
        <a href="{{ path('user_create') }}" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2
        text-sm font-semibold text-white shadow-sm hover:bg-indigo-500
        focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
        focus-visible:outline-indigo-600 flex-shrink-0">
            Créer utilisateur
        </a>
    </div>
    <br>
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">ID</th>
                <th scope="col" class="px-6 py-3">NOM</th>
                <th scope="col" class="px-6 py-3">PRENOM</th>
                <th scope="col" class="px-6 py-3">PSEUDO</th>
                <th scope="col" class="px-6 py-3">TELEPHONE</th>
                <th scope="col" class="px-6 py-3">MAIL</th>
                <th scope="col" class="px-6 py-3">SITE</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="bg-white border-b">
                <td class="px-6 py-4">{{ user.id }}</td>
                <td class="px-6 py-4">{{ user.nom }}</td>
                <td class="px-6 py-4">{{ user.prenom}}</td>
                <td class="px-6 py-4"><a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{{ path('user_details', {'id': user.id}) }}">{{ user.pseudo }}</a></td>
                <td class="px-6 py-4">
                    {% if user.telephone is null  %}
                        Aucun numéro de téléphone renseigné
                    {% else %}
                        {{ user.telephone }}
                    {% endif %}
                </td>
                <td class="px-6 py-4">{{ user.email }}</td>
                <td class="px-6 py-4">
                    {% if user.site.nom is not defined  %}
                        Aucun site rattaché
                    {% else %}
                        {{ user.site.nom }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <div class="flex justify-end pr-4 pt-5">
        {% if currentPage > 1 %}
            <a href="{{ path('user_home', {'page': currentPage - 1}) }}" class="flex items-center justify-center px-4 h-10 mr-3 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <svg class="w-3.5 h-3.5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                </svg>
                Previous
            </a>
        {% endif %}
        {% if currentPage < maxPage %}
            <a href="{{ path('user_home', {'page' : currentPage + 1}) }}" class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Next
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        {% endif%}
    </div>

{% endblock %}
